$primary: #00aeef;
$secondary: #f0930b;
$secondary-background: #fef8ee;
$primary-dark: #1d6084;
$nav-selection: #d4edfc;
$nav-background: #f3faff;
$nav-button-background: #c5dcea;
$nav-description-background: #64767e;

@import "../node_modules/bootstrap/scss/bootstrap";